<a href="https://colab.research.google.com/github/sergiomarchena16/Proyecto_1/blob/main/proyecto1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyecto 1 - SIMARGL
Sergio Marchena - 16387

Security Data Science

February 2022

In [2]:
# libraries
import numpy as np
import pandas as pd

In [3]:
# Load the datasets
df_part1 = pd.read_csv('/content/drive/MyDrive/UVG /2022/SECURITY DATA SCIENCE/Proyecto 1/dataset-part1.csv', encoding='utf-8')
df_part2 = pd.read_csv('/content/drive/MyDrive/UVG /2022/SECURITY DATA SCIENCE/Proyecto 1/dataset-part2.csv', encoding='utf_8')

## Analisis Exploratorio

In [4]:
df_part1.head()

   BIFLOW_DIRECTION  DIRECTION  ... TOTAL_FLOWS_EXP        LABEL
0                 1          0  ...         2293398  Normal flow
1                 1          0  ...         2293400  Normal flow
2                 1          0  ...         2293404  Normal flow
3                 1          0  ...         2293407  Normal flow
4                 1          0  ...         2293409  Normal flow

[5 rows x 50 columns]

In [5]:
df_part1.tail()

         BIFLOW_DIRECTION  DIRECTION  ... TOTAL_FLOWS_EXP        LABEL
3570661                 1          0  ...         5870422  Normal flow
3570662                 1          0  ...         5870423  Normal flow
3570663                 1          0  ...         5870424  Normal flow
3570664                 1          0  ...         5870425  Normal flow
3570665                 1          0  ...         5870426  Normal flow

[5 rows x 50 columns]

In [6]:
df_part2.head()

   BIFLOW_DIRECTION  DIRECTION  ... TOTAL_FLOWS_EXP        LABEL
0                 1          0  ...        77251491  Normal flow
1                 1          0  ...        77251492  Normal flow
2                 1          0  ...        77251493  Normal flow
3                 1          0  ...        77251494  Normal flow
4                 1          0  ...        77251495  Normal flow

[5 rows x 50 columns]

In [7]:
df_part2.tail()

         BIFLOW_DIRECTION  DIRECTION  ... TOTAL_FLOWS_EXP        LABEL
8637202                 1          0  ...        85888693  Normal flow
8637203                 1          0  ...        85888694  Normal flow
8637204                 1          0  ...        85888695  Normal flow
8637205                 1          0  ...        85888696  Normal flow
8637206                 1          0  ...        85888697  Normal flow

[5 rows x 50 columns]

In [8]:
# merge the dataframes in order to work only with one
frames = [df_part1, df_part2]
df = pd.concat(frames, ignore_index=True)
df

          BIFLOW_DIRECTION  DIRECTION  ... TOTAL_FLOWS_EXP        LABEL
0                        1          0  ...         2293398  Normal flow
1                        1          0  ...         2293400  Normal flow
2                        1          0  ...         2293404  Normal flow
3                        1          0  ...         2293407  Normal flow
4                        1          0  ...         2293409  Normal flow
...                    ...        ...  ...             ...          ...
12207868                 1          0  ...        85888693  Normal flow
12207869                 1          0  ...        85888694  Normal flow
12207870                 1          0  ...        85888695  Normal flow
12207871                 1          0  ...        85888696  Normal flow
12207872                 1          0  ...        85888697  Normal flow

[12207873 rows x 50 columns]

In [9]:
# summary of the variables in the df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12207873 entries, 0 to 12207872
Data columns (total 50 columns):
 #   Column                      Dtype
---  ------                      -----
 0   BIFLOW_DIRECTION            int64
 1   DIRECTION                   int64
 2   DST_TO_SRC_SECOND_BYTES     object
 3   FIREWALL_EVENT              int64
 4   FIRST_SWITCHED              int64
 5   FLOW_ACTIVE_TIMEOUT         int64
 6   FLOW_DURATION_MICROSECONDS  int64
 7   FLOW_DURATION_MILLISECONDS  int64
 8   FLOW_END_MILLISECONDS       int64
 9   FLOW_END_SEC                int64
 10  FLOW_ID                     int64
 11  FLOW_INACTIVE_TIMEOUT       int64
 12  FLOW_START_MILLISECONDS     int64
 13  FLOW_START_SEC              int64
 14  FRAME_LENGTH                int64
 15  IN_BYTES                    int64
 16  IN_PKTS                     int64
 17  IPV4_DST_ADDR               object
 18  IPV4_SRC_ADDR               object
 19  L4_DST_PORT                 int64
 20  L4_SRC_PORT                 int64
 21  LAST_SWITCHED               int64
 22  MAX_IP_PKT_LEN              int64
 23  MIN_IP_PKT_LEN              int64
 24  OOORDER_IN_PKTS             int64
 25  OOORDER_OUT_PKTS            int64
 26  OUT_BYTES                   int64
 27  OUT_PKTS                    int64
 28  PROTOCOL                    int64
 29  PROTOCOL_MAP                object
 30  RETRANSMITTED_IN_BYTES      int64
 31  RETRANSMITTED_IN_PKTS       int64
 32  RETRANSMITTED_OUT_BYTES     int64
 33  RETRANSMITTED_OUT_PKTS      int64
 34  SRC_TO_DST_SECOND_BYTES     object
 35  TCP_FLAGS                   int64
 36  TCP_WIN_MAX_IN              int64
 37  TCP_WIN_MAX_OUT             int64
 38  TCP_WIN_MIN_IN              int64
 39  TCP_WIN_MIN_OUT             int64
 40  TCP_WIN_MSS_IN              int64
 41  TCP_WIN_MSS_OUT             int64
 42  TCP_WIN_SCALE_IN            int64
 43  TCP_WIN_SCALE_OUT           int64
 44  SRC_TOS                     int64
 45  DST_TOS                     int64
 46  L7_PROTO_NAME               object
 47  SAMPLING_INTERVAL           int64
 48  TOTAL_FLOWS_EXP             int64
 49  LABEL                       object
dtypes: int64(43), object(7)
memory usage: 4.5+ GB

In [10]:
# check for null entries
df.isnull().sum()

BIFLOW_DIRECTION              0
DIRECTION                     0
DST_TO_SRC_SECOND_BYTES       0
FIREWALL_EVENT                0
FIRST_SWITCHED                0
FLOW_ACTIVE_TIMEOUT           0
FLOW_DURATION_MICROSECONDS    0
FLOW_DURATION_MILLISECONDS    0
FLOW_END_MILLISECONDS         0
FLOW_END_SEC                  0
FLOW_ID                       0
FLOW_INACTIVE_TIMEOUT         0
FLOW_START_MILLISECONDS       0
FLOW_START_SEC                0
FRAME_LENGTH                  0
IN_BYTES                      0
IN_PKTS                       0
IPV4_DST_ADDR                 0
IPV4_SRC_ADDR                 0
L4_DST_PORT                   0
L4_SRC_PORT                   0
LAST_SWITCHED                 0
MAX_IP_PKT_LEN                0
MIN_IP_PKT_LEN                0
OOORDER_IN_PKTS               0
OOORDER_OUT_PKTS              0
OUT_BYTES                     0
OUT_PKTS                      0
PROTOCOL                      0
PROTOCOL_MAP                  0
RETRANSMITTED_IN_BYTES        0
RETRANSMITTED_IN_PKTS         0
RETRANSMITTED_OUT_BYTES       0
RETRANSMITTED_OUT_PKTS        0
SRC_TO_DST_SECOND_BYTES       0
TCP_FLAGS                     0
TCP_WIN_MAX_IN                0
TCP_WIN_MAX_OUT               0
TCP_WIN_MIN_IN                0
TCP_WIN_MIN_OUT               0
TCP_WIN_MSS_IN                0
TCP_WIN_MSS_OUT               0
TCP_WIN_SCALE_IN              0
TCP_WIN_SCALE_OUT             0
SRC_TOS                       0
DST_TOS                       0
L7_PROTO_NAME                 0
SAMPLING_INTERVAL             0
TOTAL_FLOWS_EXP               0
LABEL                         0
dtype: int64

In [11]:
# check for NaN entries
df.isna().sum()

BIFLOW_DIRECTION              0
DIRECTION                     0
DST_TO_SRC_SECOND_BYTES       0
FIREWALL_EVENT                0
FIRST_SWITCHED                0
FLOW_ACTIVE_TIMEOUT           0
FLOW_DURATION_MICROSECONDS    0
FLOW_DURATION_MILLISECONDS    0
FLOW_END_MILLISECONDS         0
FLOW_END_SEC                  0
FLOW_ID                       0
FLOW_INACTIVE_TIMEOUT         0
FLOW_START_MILLISECONDS       0
FLOW_START_SEC                0
FRAME_LENGTH                  0
IN_BYTES                      0
IN_PKTS                       0
IPV4_DST_ADDR                 0
IPV4_SRC_ADDR                 0
L4_DST_PORT                   0
L4_SRC_PORT                   0
LAST_SWITCHED                 0
MAX_IP_PKT_LEN                0
MIN_IP_PKT_LEN                0
OOORDER_IN_PKTS               0
OOORDER_OUT_PKTS              0
OUT_BYTES                     0
OUT_PKTS                      0
PROTOCOL                      0
PROTOCOL_MAP                  0
RETRANSMITTED_IN_BYTES        0
RETRANSMITTED_IN_PKTS         0
RETRANSMITTED_OUT_BYTES       0
RETRANSMITTED_OUT_PKTS        0
SRC_TO_DST_SECOND_BYTES       0
TCP_FLAGS                     0
TCP_WIN_MAX_IN                0
TCP_WIN_MAX_OUT               0
TCP_WIN_MIN_IN                0
TCP_WIN_MIN_OUT               0
TCP_WIN_MSS_IN                0
TCP_WIN_MSS_OUT               0
TCP_WIN_SCALE_IN              0
TCP_WIN_SCALE_OUT             0
SRC_TOS                       0
DST_TOS                       0
L7_PROTO_NAME                 0
SAMPLING_INTERVAL             0
TOTAL_FLOWS_EXP               0
LABEL                         0
dtype: int64

## Preprocesamiento

In [13]:
# non numerical variables to deal with:
# 1. 'DST_TO_SRC_SECOND_BYTES'
# 2. 'IPV4_DST_ADDR'
# 3. 'IPV4_SRC_ADDR'
# 4. 'PROTOCOL_MAP'
# 5. 'SRC_TO_DST_SECOND_BYTES'
# 6. 'L7_PROTO_NAME'
# 7. 'LABEL'

In [ ]:
# 1. 'DST_TO_SRC_SECOND_BYTES'

df['DST_TO_SRC_SECOND_BYTES'].describe()

# 569243 unique values too many to encode, dropping it
df = df.drop('DST_TO_SRC_SECOND_BYTES', axis=1, inplace=True)

In [24]:
# 2. 'IPV4_DST_ADDR'
df['IPV4_DST_ADDR'].describe()

# 440887 unique values, too many to encode, dropping it
df = df.drop('IPV4_DST_ADDR', axis=1, inplace=True)

count          12207873
unique           440887
top       10.114.224.65
freq            3604686
Name: IPV4_DST_ADDR, dtype: object