# Proyecto 1 - Deteccion de Ataques
Sergio Marchena - 16387

## Parte 1
### Fase 1: Analisis Exploratorio

In [6]:
# libraries
import pandas as pd

In [7]:
# load the datasets(1 and 2)
df_part1 = pd.read_csv('dataset-part1.csv', encoding='utf-8')
df_part2 = pd.read_csv('dataset-part2.csv', encoding='utf-8')

In [12]:
# quick check of the datasets
df_part2.head()
df_part1.head()

,BIFLOW_DIRECTION,DIRECTION,DST_TO_SRC_SECOND_BYTES,FIREWALL_EVENT,FIRST_SWITCHED,FLOW_ACTIVE_TIMEOUT,FLOW_DURATION_MICROSECONDS,FLOW_DURATION_MILLISECONDS,FLOW_END_MILLISECONDS,FLOW_END_SEC,...,TCP_WIN_MSS_IN,TCP_WIN_MSS_OUT,TCP_WIN_SCALE_IN,TCP_WIN_SCALE_OUT,SRC_TOS,DST_TOS,L7_PROTO_NAME,SAMPLING_INTERVAL,TOTAL_FLOWS_EXP,LABEL
0,1,0,40,0,1616660040,120,339,0,1616660040010,1616660040,...,1460,0,0,0,0,0,Unknown,1,2293398,Normal flow
1,1,0,",",0,1616660040,120,0,0,1616660040068,1616660040,...,0,0,0,0,40,0,ICMP,1,2293400,Normal flow
2,1,0,104,0,1616660040,120,44725,44,1616660040114,1616660040,...,0,0,0,0,0,0,TLS,1,2293404,Normal flow
3,1,0,",",0,1616660040,120,0,0,1616660040122,1616660040,...,1440,0,8,0,40,0,Unknown,1,2293407,Normal flow
4,1,0,40,0,1616660040,120,1114,1,1616660040184,1616660040,...,0,0,0,0,0,0,TLS,1,2293409,Normal flow

In [32]:
# merge the dataframes in order to work only with one
frames = [df_part1, df_part2]
df = pd.concat(frames, ignore_index=True)

In [46]:
# check the target value count
df['LABEL'].value_counts()

Normal flow                       6570058
SYN Scan - aggressive             2496814
Denial of Service R-U-Dead-Yet    2276947
Denial of Service Slowloris        864054
Name: LABEL, dtype: int64

In [37]:
totalObservations = 6570058 + 2496814 + 2276947 + 864054
print('Total Observations: ', str(totalObservations))

Total Observations:  12207873